@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Centiro Reviewer </h1>
    <p>Show me  <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="GetAll">all orders</a>.</p>
</div>
