@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At Centiro, we take the privacy of our users seriously. This privacy policy applies to our order receiving application, CentiroHomeAssignment, and explains how we collect, use, and protect the information that you provide to us through the application.

</p>
<h2>
    Collection of Information

</h2>
    <p>When you place an order through CentiroHomeAssignment, we collect certain information, including your name, and shipping address. We also collect information about the items you have ordered, including the names and quantities of the products.</p>

<h2>
    Collection of Information

</h2>
<p>We use the information we collect to fulfill your order and to communicate with you about your order. We do not share or sell any of your personal information to third parties.</p>
<p>
    We take reasonable steps to protect the information we collect through CentiroHomeAssignment from loss, misuse, and unauthorized access, disclosure, alteration, and destruction. However, no method of transmission over the internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security.

    Changes to This Policy

    We may update this privacy policy from time to time to reflect changes in our practices or applicable laws. If we make any material changes, we will notify you by mail at the shipping address provided.

    Contact Us

    If you have any questions about this privacy policy or our treatment of your personal information, please contact us by mail at Centiro, [Address].

</p>
